@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');
/*font-family: 'Sofia Sans Semi Condensed', sans-serif;*/

/*!-----------------RESET-----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/*!------------------HEADER----------------*/

body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    position: sticky;
    top: 0;
    z-index: 3;
    margin: 0 auto;
    padding: 0;
}

body header a img {
    max-width: 6rem;
    margin: 0.5rem 2rem;
    padding: 0;
    transition: transform 0.5s;
}

body header a img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
}

body header nav .nav-links {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

body header nav .nav-links li a {
    font-size: 20px;
    color: whitesmoke;
    transition: 0.25s;
}

body header nav .nav-links li a:hover {
    color: #4348BD;
}

body header nav .nav-links li a i {
    margin-right: 5px;
}

body header nav .burger-menu {
    display: none;
}

/*!-------------------MAIN------------------*/

body main .herosec {
    margin: 0 auto;
    background-image: url(../image/emprendedor.jpg);
    background-size: cover;
    text-align: center;
}

body main .herosec h1 {
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(51, 49, 49, 0.459);
    color: whitesmoke;
    margin-bottom: 50px;
    padding: 50px;
}

body main .herosec h2 {
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(51, 49, 49, 0.459);
    color: whitesmoke;
    margin-bottom: 50px;
    padding: 50px;
}

body main .herosec p {
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(51, 49, 49, 0.459);
    color: whitesmoke;
    margin-bottom: 50px;
    padding: 50px;
}

body main .calculadora {
    background-image: url(../image/fondo.jpg);
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body main .calculadora .calculator {
    max-width: 400px;
    margin: 0 auto;
    background-color: #4348BD;
    border-radius: 10px;
    padding: 15px;
}

body main .calculadora .calculator h2 {
    color: whitesmoke;
    text-align: center;
}

body main .calculadora .calculator label {
    color: whitesmoke;
    display: block;
    margin-top: 15px;
}

body main .calculadora .calculator input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

body main .calculadora .calculator button {
    width: 100%;
    padding: 10px;
    background-color: lightseagreen;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

body main .calculadora .calculator button:hover {
    background-color: #0056b3;
}

body main .calculadora .calculator #resultado {
    margin-top: 30px;
    margin-bottom: 20px;
}

body main .calculadora .calculator .resultadoEstilos {
    color: purple;
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body main .h1,
body main .h2 {
    color: #4348BD;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 5rem;
    font-size: 25px;
}


body main .herramientas {
    font-size: 17px;
    font-weight: bold;
    color: #4348BD;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

body main .herramientas div {
    padding: 4rem;
    transition: transform 0.5s;
}

body main .herramientas div:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
}

body main .herramientas a img {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}

#articulos {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

#articulos div {
    width: 300px;
    margin: 15px;
}

#articulos img {
    width: 100%;
    height: auto;
}


body main .container {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin: 0 auto;
    padding: 20rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../image/emprendedor3.jpg);
    background-size: cover;
    text-align: center;
}

body main .container h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
}

body main .container form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

body main .container form label {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

body main .container form input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body main .container form button {
    background-color: lightseagreen;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body main .container form button:hover {
    background-color: #0056b3;
}

/*!-----------------FOOTER----------------*/

body footer {
    background-color: lightseagreen;
    margin-top: 3rem;
}

body footer .titulo h2 {
    color: #4348BD;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
}

body footer .redes {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 1rem;
    padding: 1rem;
}

body footer a i {
    color: #4348BD;
    font-size: 50px;
    font-weight: bold;
    transition: 0.25s;
}

body footer a i:hover {
    color: whitesmoke;
}

body footer .pie {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
}

body footer .pie h3 {
    color: #4348BD;
    font-size: 20px;
    font-weight: bold;
}

/*!-----------------MEDIAQUERY----------------*/

@media screen and (max-width:1400px) {
    body main .herramientas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:1000px) {

    body main .herosec h1,
    body main .herosec h2 {
        font-size: 30px;
        margin-bottom: 20px;
        padding: 20px;
    }

    body main .herosec p {
        font-size: 15px;
        margin-bottom: 15px;
        padding: 15px;
    }

    body footer .titulo h2 {
        font-size: 25px;
    }

    body footer a i {
        font-size: 20px;
    }

    body footer .redes {
        gap: 1rem;
    }

    body footer .pie h3 {
        font-size: 15px;
    }

    body main .h1,
    body main .h2 {
        font-size: 15px;
    }

    body main .container {
        padding: 1rem;
        padding-top: 20rem;
    }

    body main .container h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) {
    body header nav .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: lightseagreen;
        text-align: center;
    }

    body header nav .nav-links.show {
        display: flex;
    }

    body header nav .nav-links li {
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid whitesmoke;
    }

    body header nav .burger-menu {
        display: block;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        color: whitesmoke;
        margin-right: 2rem;
        transition: transform 0.5s;
    }

    body header nav .burger-menu:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.671);
    }

    body main .h1,
    body main.h2 {
        padding: 1rem;
    }
}